<div class="chat-list-container">
    <!-- Поиск пользователей -->
    <div class="search-container">
      <input type="text" [(ngModel)]="searchQuery" (input)="searchUsers()" placeholder="Поиск пользователя..." />
      <ul *ngIf="searchResults.length > 0">
        <li *ngFor="let user of searchResults" (click)="selectedUserId = user._id">
          {{ user.username }}
        </li>
      </ul>
      <button (click)="createChat()" [disabled]="!selectedUserId">Создать чат</button>
    </div>
  
    <!-- Список чатов -->
    <div *ngFor="let chat of chats" class="chat-item">
      <a [routerLink]="['/chats', chat._id]" class="chat-link">
        <div class="chat-info">
          <div class="chat-avatar">
            <img src="https://placekitten.com/50/50" alt="avatar" class="avatar" />
          </div>
          <div class="chat-details">
            <span class="chat-participants">
              <!-- Используем форматированную строку участников -->
              {{ chat.participantsString }}
            </span>
            <span class="chat-preview">
              <!-- Показываем последнее сообщение или "Нет сообщений" -->
              {{ chat.lastMessage ? chat.lastMessage.text : 'Нет сообщений' }}
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
